@import 'bootstrap-icons/font/bootstrap-icons.css';

/* ===========================
   ROOT
=========================== */

:root{
    --primary:#14532D;
    --secondary:#16A34A;
    --accent:#F59E0B;
    --background:#F8FAFC;
    --text:#1E293B;
    --white:#ffffff;
}

/* ===========================
   RESET
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:var(--background);
    color:var(--text);
    overflow-x:hidden;
}

a{
    text-decoration:none;
}

img{
    max-width:100%;
}

/* ===========================
   NAVBAR
=========================== */

.navbar-custom{

    background:transparent;

    padding:20px 0;

    transition:.4s ease;

    position:fixed;

    top:0;

    left:0;

    width:100%;

    z-index:9999;

}

.navbar-custom.scrolled{

    background:rgba(20,83,45,.92);

    backdrop-filter:blur(10px);

    box-shadow:0 8px 25px rgba(0,0,0,.18);

    padding:14px 0;

}

.logo{

    width:60px;

}

.navbar-brand h5{

    color:#fff;

    font-weight:700;

    margin:0;

}

.navbar-brand small{

    color:#ddd;

}

.nav-link{

    color:white !important;

    font-weight:500;

    margin-left:18px;

}

.nav-link:hover{

    color:var(--accent)!important;

}

.nav-link.active{

    color:var(--accent)!important;

}

/* ===========================
   DROPDOWN
=========================== */

.dropdown-menu{

    border:none;

    border-radius:15px;

    box-shadow:0 10px 30px rgba(0,0,0,.15);

    transition:.3s;

}

.dropdown-item{

    padding:10px 18px;

    transition:.3s;

}

.dropdown-item:hover{

    background:var(--primary);

    color:white;

    transform:translateY(5px);

}

.navbar .dropdown{

    position:relative;

}

.navbar .dropdown-menu{

    display:block;

    opacity:0;

    visibility:hidden;

    transform:translateY(15px);

    transition:.3s;

}

.navbar .dropdown:hover>.dropdown-menu{

    opacity:1;

    visibility:visible;

    transform:translateY(0);

}

/* ===========================
   BUTTON
=========================== */

.btn-success{

    background:var(--secondary);

    border:none;

}

.btn-warning{

    border:none;

}

/* ===========================
   GLOBAL SECTION
=========================== */

.section-label{

    color:var(--secondary);

    font-weight:600;

}

.section-title{

    font-size:46px;

    font-weight:800;

    color:var(--primary);

    margin:10px 0 20px;

}
